In [1]:
import pandas as pd
import shutil
import os

In [2]:
tl = pd.read_csv("./data/trainLabels.csv")

In [4]:
tl

          id       label
0          1        frog
1          2       truck
2          3       truck
3          4        deer
4          5  automobile
...      ...         ...
49995  49996        bird
49996  49997        frog
49997  49998       truck
49998  49999  automobile
49999  50000  automobile

[50000 rows x 2 columns]

In [6]:
for _, row in tl.iterrows():
    image, label = row['id'], row['label']
    filename = f"{image}.png"
    folder = os.path.join('./data/train', label)
    if not os.path.exists(folder):
        os.makedirs(folder, exist_ok=True)
    source_path = os.path.join('./data/train', filename)
    dest_path = os.path.join(folder, filename)
    shutil.move(source_path, dest_path)

In [7]:
!ls ./data/train

airplane  automobile  bird  cat  deer  dog  frog  horse  ship  truck